body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: 700;
}

form * {
  margin-bottom: 10px;
}

#userid {
  background-color: rgb(170, 167, 167);
  font-weight: 700;
}
