<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동적 폼 연습</title>
    <!-- jQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- function.js -->
    <script defer src="/js/function.js"></script>
  </head>
  <body>
    <h1>동적 폼을 연습해보자</h1>
    <!-- 이름, 성별(라디오버튼)을 정보로 입력받는 폼 -->
    <form name="register">
      <label for="name">이름</label>
      <input type="text" id="name" name="name" />
      <br />

      <input type="radio" id="male" name="gender" value="남자" />
      <label for="male">남자</label>
      <input type="radio" id="female" name="gender" value="여자" />
      <label for="female">여자</label>
      <br />

      <button type="button" onClick="ajaxGet()">Ajax Get 제출</button>
      <button type="button" onClick="ajaxPost()">Ajax Post 제출</button>
      <br />

      <button type="button" onClick="axiosGet()">Axios Get 제출</button>
      <button type="button" onClick="axiosPost()">Axios Post 제출</button>
      <br />

      <button type="button" onClick="fetchGet()">Fetch Get 제출</button>
      <button type="button" onClick="fetchPost()">Fetch Post 제출</button>
      <br />
    </form>

    <!-- 동적 폼 전송 결과를 보여줄 곳 -->
    <div class="result"></div>

    <hr />
  </body>
</html>
