<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head.ejs', {title: '홈'}) %>

    <!-- index.ejs에서만 적용하고싶은 home.css -->
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <%- include('./includes/header.ejs') %>
    <h1>Hello! Express!!</h1>
    <% for (let i=0; i<5; i++) { %>
    <div><%= i%></div>
    <% } %>
    <!-- ejs 내부에서 변수를 선언해서 사용하면 -->
    <!-- 프론트 쪽 변수 선언이 먹어서 백쪽 변수를 사용하지 않게 된다! -->
    <!-- 같은 변수 이름으로 설정해서 나는 오류가 아님!  -->
    <button type="button" class="btn">
      <a href="/login">로그인</a>
    </button>
    <button type="button" class="btn"><a href="/register">회원가입</a></button>
  </body>
</html>
