.container {
  display: flex;
}

.div {
  width: 100px;
  height: 100px;
  background-color: grey;
  border: 1px solid red;
  border-radius: 10%;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .div {
    background-color: skyblue;
    margin-bottom: 30px;
  }
}
