<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>선수 검색 사이트!</title>
  </head>
  <body>
    <h1>원하시는 선수를 검색해보세요!</h1>
    <a href="/players">전체 선수 확인</a>
    <a href="/teams">전체 팀 확인</a>
  </body>
</html>
